<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer List</title>
  <link rel="stylesheet" th:href="@{/css-admin/style.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<header class="text-center">
  <h2>Customer List</h2>
</header>
<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>STT</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Enabled</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer, stat : ${listCustomers}">
      <td>[[${stat.index + 1}]]</td>
      <td th:text="${customer.user.username}">Username</td>
      <td th:text="${customer.user.email}">Email</td>
      <td th:text="${customer.user.phoneNumber}">Phone number</td>
      <td th:text="${customer.user.enabled}">Enable</td>
      <td>
        <!-- Edit/Delete buttons -->
        <a class="btn btn-sm btn-outline-info" th:href="@{/manageCustomers/edit/{id}(id=${customer.id})}">Edit</a>
        <a class="btn btn-sm btn-outline-danger" th:href="@{/manageCustomers/delete/{id}(id=${customer.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<footer class="text-center">
  <p>&copy;  2024 Hair Salon. All rights reserved.</p>
</footer>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
