<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Add or Edit Appointment</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<header>
    <h2 class="text-center" th:text="${pageTitle}">Add or Edit Appointment</h2>
</header>

<div class="container">
    <form th:action="@{/manageAppointments/save}" th:object="${appointment}" method="post">
        <!-- Thêm trường ẩn cho ID -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="customer">Customer</label>
            <select id="customer" th:field="*{customer}" class="form-control" required>
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="stylist">Stylist</label>
            <select id="stylist" th:field="*{stylist}" class="form-control" required>
                <option th:each="stylist : ${stylists}" th:value="${stylist.id}" th:text="${stylist.name}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="services">Services</label>
            <select id="services" th:field="*{care}" class="form-control" multiple required>
                <option th:each="service : ${care}" th:value="${care.id}" th:text="${care.name}">Service</option>
            </select>
        </div>

        <div class="form-group">
            <label for="totalPrice">Total Price</label>
            <input type="number" id="totalPrice" th:field="*{totalPrice}" class="form-control" required readonly/>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/manageAppointments" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<script src="js/app.js"></script>
<script th:inline="javascript">
    // Tính toán tổng giá trị khi chọn dịch vụ
    var servicesSelect = document.getElementById("services");
    var totalPriceField = document.getElementById("totalPrice");

    servicesSelect.addEventListener('change', function() {
        var totalPrice = 0;
        Array.from(servicesSelect.selectedOptions).forEach(function(option) {
            totalPrice += parseFloat(option.getAttribute('data-price'));
        });
        totalPriceField.value = totalPrice;
    });
</script>

</body>
</html>
