<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageTitle}">Add or Edit Service</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid">
  <div class="text-center">
    <h2 th:text="${pageTitle}">Add or Edit Service</h2>
  </div>

  <form th:action="@{/manageCares/save}" method="post" th:object="${care}" style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">

    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Service Name:</label>
        <div class="col-sm-8">
          <input type="text" id="name" th:field="*{name}" class="form-control" required/>
        </div>
      </div>

      <div class="form-group row">
        <label for="price" class="col-sm-4 col-form-label">Price:</label>
        <div class="col-sm-8">
          <input type="number" id="price" th:field="*{price}" class="form-control" required/>
        </div>
      </div>

      <div class="form-group text-center mt-3">
        <button type="submit" class="btn btn-success m-2">Save</button>
        <a href="/manageCares" class="btn btn-secondary m-2">Cancel</a>
      </div>
    </div>
  </form>
</div>


<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/manageCares}]]";
  }
</script>
</body>
</html>
