<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css-user/signup.css}">

</head>
<body>
<!-- Header-->
<div th:replace="view/partials/header :: header"></div>

<div class="container">
    <div class="form-container">
        <h2>Sign Up</h2>
        <form method="POST" action="/signup">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" placeholder="Enter phone number" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <button type="submit" class="btn" style="background: black;">Sign Up</button>
        </form>
        <p class="text-center mt-3">Already have an account? <a th:href="@{/page/login}">Login</a></p>
        <p th:if="${message}" th:text="${message}" class="success"></p> <!-- Thông báo đăng ký thành công -->
        <p th:if="${error}" th:text="${error}" class="error"></p> <!-- Lỗi đăng ký -->
    </div>
</div>

<!-- Footer -->
<div th:replace="view/partials/footer :: footer"></div>
</body>
</html>
