body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0px;
}

.bookNow-section{
    padding:20px;
    padding-bottom:30px;
}

.booking-container {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-700px); /* Trượt vào từ bên trái */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(1500px); /* Trượt vào từ bên phải */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.customer-info {
    animation: slideInLeft 1.3s ease forwards; /* Hiệu ứng trượt vào từ bên trái */
}

.service-info {
    animation: slideInRight 1.3s ease forwards; /* Hiệu ứng trượt vào từ bên phải */
}


.box {
    width: 45%;
    background-color: #f9f9f9;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.box:hover,
.box:focus,
.box.active {
    background-color: #cdcdcd;
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    outline: none;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 35px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
    font-size: 20px;
}



.booking-input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}


button {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #989898;
}

.staff-profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.staff-profile img {
    width: 200px;
    height: 200px;
    margin-right: 15px;
}

.staff-profile div {
    flex: 1;
}

#staff-profile {
    display: none;
}

.star {
    font-size: 20px;
    color: #ccc;
}

.star.filled {
    color: #000000;
}

.star-rating {
    margin-top: 5px;
}

.star { color: lightgray; }
.star.filled { color: rgb(0, 0, 0); }