.contact-section {
    padding: 20px; /* Thêm khoảng đệm cho phần liên hệ */
    background-color: #f9f9f9; /* Màu nền sáng cho phần liên hệ */
}

.contact-section h1 {
    margin-bottom: 10px;
    color: #000000;
    justify-content: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung */
}

.contact-info {
    display: flex; /* Sử dụng Flexbox để bố trí */
    justify-content: space-between; /* Căn giữa các mục */
    margin-top: 10px; /* Khoảng cách giữa phần giới thiệu và thông tin liên lạc */
}

.contact-info h2 {
    margin-top: 5px; /* Thêm khoảng cách cho tiêu đề thông tin liên hệ */
    color: #444;
}

.address {
    flex: 3; /* Địa chỉ chiếm 3 phần không gian */
}

.contact-item {
    flex: 1; /* Mỗi mục còn lại chiếm 1 phần không gian */
    margin: 0 10px; /* Khoảng cách giữa các mục */
}

.contact-item p {
    margin-bottom: 0px; /* Xóa khoảng cách dưới cùng của đoạn văn */
}

.contact-form {
    margin-top: 10px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: #444;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    margin-left: auto; /* Đẩy nút sang bên phải */
    display: flex; /* Sử dụng flexbox để căn giữa */
    justify-content: center; /* Căn giữa theo chiều ngang */
    padding: 10px 20px; /* Thêm padding cho nút */
    border: none; /* Xóa viền mặc định */
    border-radius: 5px; /* Bo tròn các góc của nút */
    background-color: #555; /* Màu nền mặc định của nút */
    color: white; /* Màu chữ */
    cursor: pointer; /* Hiện con trỏ tay khi hover */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu nền */
}

.contact-form button:hover {
    background-color: #333; /* Màu nền khi hover */
}

footer {
    background-color: #1e1e1e; /* Màu nền cho footer */
    color: white; /* Màu chữ */
    text-align: center; /* Căn giữa nội dung */
    padding: 5px 0; /* Khoảng đệm cho footer */
}