

.blog-section {
    padding: 40px 0;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
}

.blog-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.blog-item h2 {
    font-size: 20px;
    margin: 15px 10px;
}

.blog-item p {
    margin: 10px;
}

.blog-item a {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.blog-item:hover {
    transform: translateY(-5px);
}

.blog-item:hover img {
    transform: scale(1.05);
}

.blog-item:hover a {
    background-color: orange;
}


footer {
    background-color: #111;
    padding: 50px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    width: 40%;
}

.footer-left .logo span {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.footer-left p {
    margin: 20px 0;
    line-height: 1.6;
    color: orange;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer-section {
    margin-right: 50px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f76c6c;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
}

.footer-bottom span {
    color: #f76c6c;
}

.hover-effect {
    transition: all 0.3s ease; 
}

.hover-effect:hover {
    color: #f76c6c; 
    transform: scale(1.0); 
}
