* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #1e1e1e;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; /* Giảm padding để loại bỏ khoảng trống thừa */
}

.logo img {
    width: 100px;
}

.search-container {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center; /* Đảm bảo thanh tìm kiếm căn giữa theo chiều dọc */
}

.search-container input {
    padding: 8px; /* Giảm padding bên trong các ô input */
    margin-right: 5px; /* Giảm khoảng cách giữa các ô input */
    border: none;
    border-radius: 5px;
    width: 250px; /* Giảm chiều rộng của các ô input */
}

.search-container input::placeholder {
    color: #888;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 50px;
}

.flag {
    width: 25px;
    height: auto;
}

.user-section a:hover {
    background-color: white;
    color: black;
}

.nav-links {
    background-color: #222;
    padding: 5px 0; /* Giảm padding để tránh khoảng cách thừa */
    text-align: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Giảm khoảng cách giữa các liên kết */
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .search-container {
        margin-top: 10px;
    }

    .nav-links {
        flex-wrap: wrap;
    }
}

