.stylists-section {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.stylists-section h1 {
    margin-bottom: 10px;
    font-size: 2.5em; /* Increase font size for better visibility */
    color: #2d263c; /* Change to a darker color for contrast */
}

.stylists-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
}

.stylist {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px; /* More rounded corners */
    padding: 15px;
    margin: 10px;
    width: 30%; /* 30% width for each stylist */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s; /* Transition for hover effects */
}

.stylist:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
    background-color: #e8d5f3; /* Light purple background on hover */
}

.stylist img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for images */
    transition: transform 0.5s; /* Transition for image scale effect */
}

.stylist img:hover {
    transform: scale(1.05); /* Scale up image slightly on hover */
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.button-container {
    margin-top: 10px; /* Space between the name and the buttons */
}

.button-container button {
    background: linear-gradient(90deg, #2d263c 0%, #6528af 100%); /* Gradient background */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Padding */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 10px; /* Space between buttons */
    margin-top: 3px;
    transition: background-position 0.5s, transform 0.5s; /* Transition for background position and scale */
    background-size: 200% 100%; /* Set background size for the animation */
    background-position: left; /* Initial position of the background */
}

.button-container button:hover {
    background-position: right; /* Move background position to right on hover */
    transform: scale(1.05); /* Slight scale up effect on hover */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .stylist {
        width: calc(50% - 20px); /* Two boxes side by side on smaller screens */
        margin: 10px; /* Margin between cards */
    }
    
    .stylists-section h1 {
        font-size: 2em; /* Adjust header font size for smaller screens */
    }
}
