<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> staff</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<h2>Your Appointments</h2>
<table>
    <thead>
    <tr>
        <th>Customer Name</th>
        <th>Date</th>
        <th>Service</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
        <td th:text="${appointment.customerName}"></td>
        <td th:text="${appointment.date}"></td>
        <td th:text="${appointment.service.name}"></td>
        <td th:text="${appointment.status}"></td>
    </tr>
    </tbody>
</table>
<footer>
    <p>&copy; 2024 Hair Salon. All rights reserved.</p>
</footer>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>