<aside  th:fragment="asideAdmin" class="col-md-2 sidebar">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" th:href="@{/manageUsers}">Manage Users</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/ViewAdmins}">View Admins</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageCustomers}">Manage Customers</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageStylists}">Manage Stylists</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageStaffs}">Manage Staffs</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageManagers}">Manage Managers</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageCares}">Manage Services</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageAppointments}">Manage Appointments</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageOrders}">Manage Orders</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/manageFeedbacks}">Manage Feedbacks</a></li>
    </ul>
</aside>